header {
  background: $header_color;
  padding: 5px 0;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  div {
    nav {
      margin: 0;
      padding: 0;
      ul {
        list-style: none;
        li {
          display: inline-block;
          a {
            color: $color_fondo;
            text-decoration: none; //quite curs,bolt o dash
            display: block;
            padding: 10px 30px;
            border-radius: 10px;
            transition: all 0.4s linear;
          }
          a:hover {
            background-color: $header_color_btn;
            transition: all 0.3s linear;
          }
        }
      }
    }
  }
}
