@import "variables";

.container {
  width: 85%;
  margin: 0 auto;
  padding: 0;
}
.flex {
  display: flex; //permite ajustar los elementos
  justify-content: space-between; //crea espacio en medio
  align-items: center; //permite que los elementos se centren en y
}
.logo {
  font-family: "Pacifico", cursive;
  color: white;
  text-decoration: none;
  font-size: 50px;
}

body {
  margin: 0;
  font-family: "Anton", sans-serif;
  background: $color_fondo;
  color: $color_text;
  font-size: 10;
  line-height: 1.5;
}
// --------------------------------------clases--------------------------------------

@mixin cuadroo ($tex_col, $bckg_col,$maring){
  background:$bckg_col;
  color: $tex_col;
  width: $maring;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  display: block;
  
}
.cuadro_1 {
  @include cuadroo ($color_text, white,40%);
}
.cuadro_2{
  @include cuadroo($color_text,white, 30%);
}
